<section class="selected-title">
  <h3>What's your gardening goal?</h3>
  <p>Choose what you'd like to get out of your space</p>
</section>

<section class="selected-form">
  <%= form_with url: "/benefits" do |form| %>
    <fieldset>
      <% @benefits.order(:type_of_benefit).each do |benefit| %>
        <%= check_box_tag 'selected_benefits[]', benefit.id, class: "checkbox" %>
        <%# first is the params that gets sent to controller %>
        <%# second is what's displayed in the view %>
        <%= label_tag 'selected_benefits[]', benefit.type_of_benefit %>
      <% end %>
    </fieldset>
    <%= submit_tag "Next" %>
  <% end %>
</section>
