 .new_progress {
  justify-content: center;
  align-items: center;
  background-color: $yellow;
  height: auto;
  padding: 40px;
  width: 500px;
  margin: auto;
}

.simple_form .form-control {
  border-radius: 5px;
  width: 100%;
}
