.progress-title{
  display: block;
  text-align: center;
}

.card-progress{
  border: none;
}

.progress-form-card {
margin-top: 60px;
width: 400px;
height: 350px;
margin: 50px auto;
display: flex;
align-items: center;
justify-content: center;
padding: 30px;
border: none;
border-radius: 15px;

.form-card {
background-color: $yellow;
display: flex;
flex-direction: column;
gap: 20px;
border: none;

h5 {
  color: #333;
  font-size: 20px;
  text-align: center;
}

.upload-photo {
  background-color: $green;
  color: white;
  padding: 8px 30px;
  border-radius: 30px;
  border: none;
  font-family: $headers-font;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  transition: background-color 0.3s;

  &:hover {
    background-color: $green;
  }
}
}

  input[type="text"],
  input[type="file"],
  textarea {
    background-color: $yellow !important;
    width: 100%;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 0;
    margin-bottom: 30px;
    font-size: 14px;

    &:focus {
      outline:none !important;
      outline-width: 0 !important;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
    }
    &:-webkit-autofill {
      transition: background-color 5000s ease-in-out 0s;
    }
  }

    .save-progress {
    background-color: #932770;
    padding: 8px 30px;
    border-radius: 30px;
    border: none;
    font-family: $headers-font;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #932770;
    }

  }
}
