// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #ffed80;
$orange: #E67E22;
$green: #479167;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light-green: #16c9a2;
$green: #479167;
$yellow: #ffed80;
$dark-purple: #361d2e;
$purple: #932770;
