// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers

$body-font: "Archivo", "Helvetica", "sans-serif";
$headers-font: "Clash Display", "Helvetica", "sans-serif";

h1 {
  font-size: 140px !important;
}

h2 {
  font-size: 100px !important;
}

h3 {
  font-size: 64px !important;
}

.header-black {
  font-weight: 700;
}

.header-bold {
  font-weight: 600;
}

.header-medium {
  font-weight: 500;
}

.header-regular {
  font-weight: 300;
}

.header-light {
  font-weight: 200;
}

.body-bold {
  font-weight: 600;
}

.body-regular {
  font-weight: 400;
}

.body-light {
  font-weight: 200;
}
