/* Extra large devices (large laptops and desktops, 1200px and up) */
.about-container {
  overflow: hidden;
  height: 90vh;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .left {
    width: 30%;
    margin-left: 10vw;

    .about-p {
      margin-top: 20px;
    }
  }

  .btn {
    margin-top: 20px;
  }

  .right {
    width: 55%;
    overflow: hidden;

    .plant {
      width: 1400px;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .about-container {
    .left {
      .button-purple {
        font-size: 18px;
      }
    }

    h3 {
      font-size: 52px !important;
    }
  }
}


// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
//   .left {
//     position: absolute;
//     left: 2%;
//     width: 300px;
//     margin: 28px auto 0 auto;
//     overflow: hidden;

//     .about-us {
//       font-size: 52px !important;
//     }
//     #about{
//       margin-top: 20px;
//     }
//   }

//   .plant {
//     display: none;
//   }
// }






//
// @media only screen and (min-width: 1200px) {

//   .left {
//     left: 2%;
//     width: 45%;
//     height: 100%;

//     .about-us {
//       font-size: 110px !important;
//     }

//     .btn {
//       margin-top: 20px;
//     }

//     .right {
//       width: 55%;
//       height: 100%;
//     }

//     .plant {
//       width: 1400px;
//       left: 50%;
//     }
//   }
// }
