.about {
  position: absolute;
  left: 10%;
  width: 560px;
  margin-top: 50px;

  .about-us{
    font-size:120px !important;
  }
  #about{
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1800px) {
  .plant {
    width: 300px;
    position: absolute;
    left: 900px;
    top: 20%;
  }
}

@media only screen and (max-width: 1350px) {
  .plant {
    position: absolute;
    left: 800px;
    top: 20%;
  }
}

@media only screen and (max-width: 1150px) {
  .plant {
    display: none;
  }
}
