.devise { margin-top: 0px !important; }

.auth-input {
  background-color: $yellow !important;
  border: none;
  border-bottom: 1px solid #333;
  border-radius: 0;
  margin-bottom: 20px;
  width: 100%;
  padding: 8px 0;
  outline: none;

  &:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #333;
  }

  &:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
  }
}

.auth-container {
  background-color: $yellow;
  height: auto;
  width: 40%;
  margin: auto;
}

@media only screen and (min-width: 1200px) {
  .devise-header { font-size: 80px !important; text-align: center; width: 72%; margin: 0 auto; }
}

@media only screen and (min-width: 768px) {
  .devise-header { font-size: 68px !important; text-align: center; width: 72%; margin: 0 auto; }
}

@media only screen and (max-width: 768px) {


  .auth-container { width: 80%; }

  .devise { margin-top: -40px !important; }

  .devise-header { font-size: 56px !important; text-align: center; }
}
