.location-form {
  margin: 0 auto;
  background-color: $yellow;
  padding: 30px;
  border-radius: 10px;
  width: 80%;

  input[type=text] {
    background-color: $yellow;
    font-family: $headers-font;
    font-size: 20px;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 0;
    margin-bottom: 20px;
    width: 80%;
    padding: 8px 8px;

    &::placeholder {
      color: #333 !important;
    }
  }

  input[type=submit] {
    max-width: 150px;

    &:hover {
      background-color: #fff;
      color: $purple;
      transition: .3s ease;
    }
  }
}
