
.form-imputs {
  font-family: $headers-font;
  color: black;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 20px;
}

.signin-form {
  background-color: $yellow;
  height: auto;
  padding: 40px;
  width: 500px;
  width: 80%;
  margin: auto;

  input[type=email] {
    background-color: $yellow;
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 0;
    margin-bottom: 20px;
    width: 80%;
    padding: 8px 0;
  }

  input[type=password] {
    background-color: $yellow;
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 0;
    margin-bottom: 20px;
    width: 80%;
    padding: 8px 0;
  }
}

.form-actions {
  text-align: center;

  .btn {
    width: 60%;
    margin: 0 auto !important;
  }
}
