.selected-title {
  margin: 120px auto 0 auto !important;
  text-align: center;
  width: 70%;
}

.selected-form {
  // margin-top: 0px !important;
  text-align: center;
  width: 85%;
  margin: 0 auto;
  position: relative;

  .benefit-form {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .benefits-container {
      margin: 0 16px;

      .benefits-title {
        border-radius: 28px;
        padding: 10px 16px !important;
        border: 1px dashed $green;
        margin-bottom: -16px;
      }
    }
  }
}

.sidebar {
  grid-column: 1;
  position: absolute;
  left: 3%;
  top: 45%;
  color: #361d2e79;
  font-size: 25px;
  line-height: 80%;
  padding: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 1s;

  .two .three {
    transform: scale(0.7);
  }
}


.checkbox {
  position: absolute;
  transform: scale(0);

  + label {
    cursor: pointer;
    font-family: $headers-font;
    font-weight: 600;
    font-size: 16px;
    background-color: #fff;
    color: $green;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 4px 4px;
  }

  &:hover + label {
    background-color: $green;
    color: #fff;
    opacity: 80%;
    transition: .3s ease;
  }

  &:checked + label {
    font-family: $headers-font;
    font-weight: 600;
    font-size: 16px;
    background-color: $green;
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
  }
}

.selected-btn {
  max-width: 150px;
  margin-top: 32px;

  &:hover {
    background-color: #fff;
    color: $purple;
    transition: .3s ease;
  }
}


.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 1s ease-in-out;
  z-index: 1;
}

.page.page-1.slide-up {
  transform: translateY(-100%);
}


.page.page-2.slide-in {
  transform: translateY(0);
  z-index: 2;
}

#spaces_input {
  background-color: $yellow;
  font-family: $headers-font;
  font-size: 20px;
  font-weight: 300;
  opacity: 100%;
  margin-top: 32px;
  border: none;
  border-bottom: 1px solid #333;
  margin-bottom: 12px;
  width: 40%;
  height: 36px;
  border-radius: 0;
  padding: 8px 4px;

  &::placeholder {
    color: #333 !important;
  }
}

@media only screen and (max-width: 800px) {
  .selected-title {
    margin: -24px auto 0 auto !important;
  }

  h3 {
    font-size: 48px !important;
  }

  .sidebar {display: none;}

  .benefit-form {
    display: block !important;

    .benefits-container {
      width: 75vw;
      margin: 32px auto !important;

      .benefits-title {
        border-radius: 28px;
        padding: 10px 16px !important;
        border: 1px dashed $green;
        margin-bottom: 12px;
      }

      h5:after {
        content:"\a";
        white-space: pre;
    }
    }
  }

  .selected-btn {
    margin-top: 16px;
  }
}
