
body {
  background-color: $yellow;
}

h2 {
  font-size: 18px;
  text-align: center;
}

.signup-form {
  background-color: $yellow;
  height: 100vh;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(67, 155, 75, 0.15);
  width: 500px;
  max-width: 90%;
  margin: auto;
}

input {
  width: 100%;
  padding: 8px 12px;
  // padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
  box-sizing: border-box;
}

.input:focus {
  border-color: $green;
  outline: none;
  box-shadow: 0 0 6px rgba(85, 255, 0, 0.3);
}

.form-inputs {
  font-family: $headers-font;
  color: black;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 20px;
}

.form-actions button {
  width: 100%;
  padding: 15px;

}

.login-link {
  text-align: center;
  width: 100%;
}

  input[type="submit"].btn {
    font-family: $headers-font;
    font-weight: 600;
    font-size: 24px;
    background-color: $purple;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
    transition: .5s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:hover {
      background-color: $purple;
      color: $purple;
    }

    &:before {
      width: 0;
      top: 0;
      left: 0;
      content: "";
      background-color: #fff;
      position: absolute;
      transition: .5s;
      border-radius: 20px;
      z-index: -1;
      height: 100%;
    }

    &:hover::before {
      width: 100%;
    }
  }

  //   font-family: $headers-font;
  //   color:#fff;
  //   font-size: 14px;
  //   padding-inline: 0;
  //   border-radius: 0px;
  //   background-color: #932770 !important;
  //   width: 150px;
  //   display: block;
  //   margin: 0 auto;
  //   text-align: center;
  // }

  // input[type="submit"].btn:hover {
  //   background-color: #661b4f;
  //   border-radius: 0px;
  // }
