<section class="selected-title">
  <h3>Describe your space</h3>
  <p>So we can help you get the most out of it</p>
</section>

<section class="selected-form">
  <%= form_with url: "/projects/#{@project.id}/spaces" do |form| %>
    <fieldset>
      <% @spaces.order(:type_of_space).each do |space| %>
        <% unique_id = "space_#{space.id}" %>
        <%= check_box_tag 'selected_spaces[]', space.id, id: unique_id, class: 'checkbox' %>
        <%= label_tag unique_id, space.type_of_space %>
      <% end %>
    </fieldset>
    <%= submit_tag "Next", class: "button-purple selected-btn" %>
  <% end %>
</section>
