<div class="main-container">
  <div class="about">
    <h1 class="about-us">About us</h1>
    <p class= "pres-text">Welcome to GardenEase! Our mission is to make gardening simple
      and enjoyable for everyone. From sunny windowsills to shady patios,
      we'll create easy-to-follow <strong>gardening projects</strong> that fit perfectly
      into your space and lifestyle.</p>
      <p>By understanding your preferences
      and home environment, GardenEase provides <strong>tailored projects</strong>
      with step-by-step care and advice to help your greenery thrive.
      Let us guide you to grow with confidence!</p>
      <p><strong>Join us in making gardening easier,
        more fun, and achievable for all!</strong></p>

      <a href="" class="btn button-purple" id="about">Let's get started</a>
  </div>

</div>
