<div class="about-container">
  <div class="left">
    <h3 class="about-us">About us</h3>
    <p class= "about-p">Welcome to GardenEase! Our mission is to make gardening
    simple and enjoyable for everyone. From sunny windowsills to shady patios,
    we'll create easy-to-follow <strong>gardening projects</strong> that fit
    perfectly into your space and lifestyle.<br><br>
    By understanding your preferences and home environment, GardenEase provides
    <strong>tailored projects</strong> with step-by-step care and advice to help
    your greenery thrive.
    Let us guide you to grow with confidence!<br><br>
    <strong>Join us in making gardening easier,
    more fun, and achievable for all!</strong></p>

      <a href="/benefits/new" class="btn button-purple">Let's get started</a>
  </div>

  <div class="right">
    <img class="plant" src="<%= asset_url("plant.png")%>"  alt="plant">
  </div>

</div>
