<h1 class="header-black">GardenEase</h1>
<h2 class="header-bold">Secondary heading</h2>
<h3 class="header-medium">Third one here</h3>
<p>Find me in app/views/pages/home.html.erb</p>

<p class="button-green">Simple button</p>
<p class="button-purple">Important button</p>
