<div class="main-container">
  <div class="child">
    <p class="welcome">Welcome to</p>
    <h1 class="main-title">GardenEase</h1>
    <div class="presentation">
      <p class="line">Your guide to a simple, personalised garden.</p>
      <p class="line">No green thumb needed</p>
    </div>

    <a href="/about" class="btn button-green" id="learn-more">Learn more</a>
    <p class="btn button-green" id="start">Get started!</p>

  </div>
</div>


<h1 class="header-black">GardenEase</h1>
<h2 class="header-bold">Secondary heading</h2>
<h3 class="header-medium">Third one here</h3>
<p>Find me in app/views/pages/home.html.erb</p>

<p class="button-green">Simple button</p>
<p class="button-purple">Important button</p>
