<section class="selected-title">
  <h3>Tell us where you're growing!</h3>
  <p>In order to tailor to your climate conditions</p>
</section>

<section class="selected-form">
  <form action="#" method="get" class="location-form">
    <input type="text" id="city" name="city" placeholder="your location...">
    <%# <input type="submit" value="Submit"> %>
      <a href="" class="btn button-purple" id="submit">Submit</a>
  </form>
</section>
