<section class="selected-title">
  <h3>Tell us where you are Growing!</h3>
  <p>To personalize your experience and help you start your garden, we woud like to know your location.</p>
</section>

<section class="selected-form">
  <form action="#" method="get" class="location-form">
    <input type="text" id="city" name="city" placeholder="Barcel...">
    <%# <input type="submit" value="Submit"> %>
      <a href="" class="btn button-purple" id="submit">Submit</a>
  </form>
</section>
