<section class="selected-title">
  <h3>Insert your location</h3>
  <p>disclaimer here</p>
</section>

<section class="selected-form">
  <form action="#" method="get" class="location-form">
    <input type="text" id="city" name="city" placeholder="Barcel...">
    <%# <input type="submit" value="Submit"> %>
      <a href="" class="btn button-purple" id="submit">Submit</a>
  </form>
</section>
