<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <h3>Insert your location</h3>
</head>

<body class="location-page" style="height: 100vh;">

  <form action="#" method="get">
    <label for="city">City:</label>
    <input type="text" id="city" name="city" placeholder="Barcel...">
    <%# <input type="submit" value="Submit"> %>
     <a href="" class="btn button-purple" id="submit">Submit</a>
  </form>

</body>
</html>
