<div class="main-container">
  <div class="my-projects">
    <h1 class="projects">My projects</h1>

    <% if @projects.empty? %>
      <div class="no-project">
        <p>You don't have any projects yet.</p>
        <p>Create your first project!</p>
        <img class="plant" src="<%= asset_url("plant2.png")%>"  alt="plant">
        <a href="/benefits/new" class="btn button-purple" id="about">Let's get started</a>
      </div>
    <% else%>
      <div class="project-cards">
        <ul class="projects-ul">
          <% @projects.each do |project| %>
            <%= link_to project_results_path(project) do %>
              <li class="projects-li">
                <div class="image-container">
                  <img class="plant-item"src="<%= asset_url(project.picture)%>" alt="plant">
                </div>
                <h5><%= project.name %></h5>
                <p>&#128465;</p>
              </li>
            <% end %>
          <% end %>
        </ul>
    <% end %>
    </div>
  </div>
</div>
