.my-projects{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  .projects{
    font-size: 120px !important;
  }
}

.no-project {
  margin-top: 30px;
  a {
    margin-top: 50px;
  }
}

.project-cards {
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 1250px;
    margin: 10px auto;
    padding: 20px;
    gap: 20px;
 }

.projects-ul{
  list-style: none;
  padding: 0;
  display: inline-block;
}

.projects-li {
  height: 250px;
  margin: 10px;
  text-align: center;
  border: 2px solid $green;
  box-shadow: 1.5px 1.5px 1px rgba(1, 81, 29, 0.238);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items:center;
  &:hover {
    transform: scale(1.05);
    transition: .3s;
  }
}

.btn-project {
  text-decoration: none;
  color: black;
  &:hover {
    color: $green;
  }
}

.plant-item {
  width: 100px;
  margin: 10px;
}
