.main-container {
  width: 80vw;
  margin: 120px auto 0 auto;

  .my-projects{
    position: absolute;

    .projects{
      font-size: 120px !important;
      margin-left: 8px;
    }
  }

  .no-project {
    margin-top: 30px;

    a {
      margin-top: 50px;
    }
  }

  .project-cards {

    ul {
      margin-top: 40px;
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      li {
        height: 360px;
        width: 240px;
        margin: 12px;
        position: relative;
        overflow: hidden;
        background-color: #fff;
        border: 2px solid #fff;
        border-radius: 12px;

        a {
          text-decoration: none;
          color: #000;
        }

        .image-container {
          height: 240px;
          width: 240px;
          border-radius: 12px 12px 0 0;
          overflow: hidden;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 90%;
          transition: transform 0.3s ease-in-out;

          &:hover {
            transform: scale(1.05);
          }
        }

        h5 {
          height: 40px;
          color: #000;
          padding: 12px;

          &:hover {
            color: $green;
            transition: .3s ease-in-out;
          }
        }

        p {
          padding: 12px;
          margin-top: 24px;
          color: #666;
          opacity: 75%;
          transition: .3s ease-in-out;
          font-size: 14px;

          &:hover {
            opacity: 100%;
          }
        }
      }
    }
  }
}
