.project-title {
  height: 70vh;
  width: 80vw;
  margin: 0 auto 40px auto;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;

  .project-left {
    text-align: left;
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    h3 {
      line-height: 60px;
    }

    h4 {
      margin-top: 20px;
    }

    .fun-fact {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      bottom: 10px;
      left: -5px;
      background-color: $purple;
      border-radius: 50%;
      height: 180px;
      width: 180px;
      color: #fff;
      border-radius: 50%;
      transform: rotate(-7deg);
      box-shadow: 7px 3px 0px 8px $light-green;
      z-index: 2;

      .text {
        width: 170px;
        text-align: center;
      }

      h5 {
        margin: 0;
      }

      p {
        margin: 0;
        line-height: 16px;
      }
    }
  }

  .flex {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .separator {
      background-color: $green;
      height: 14px;
      width: 1px;
      margin: 4px 20px 0 20px;
      border-radius: 2px;
    }
  }

  .image-container {
    width: 400px;
    position: relative;
    overflow: hidden;
    border: 12px solid #fff;
    border-radius: 12px;
    z-index: 1;

    img {
      width: 100%;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.description {
  width: 100vw;
  border-top: 2px dashed $green;
  border-bottom: 2px dashed $green;

  .container {
    width: 80vw;
  }

  p {
    width: 60%;
    margin: 40px 0;
  }
}

.share-container {
  position: relative;
  display: inline-block;
  padding-bottom: 16px;

  .dropdown-content {
    display: none;
    position: absolute;
    top: 48px;
    right: -24px;
    z-index: 1;

    a {
      padding: 0;
      text-decoration: none;
      display: block;
      width: 200px;
      text-align: center;
    }

    .option {
      font-size: 16px !important;
      padding: 5px 15px;
      background-color: white;
      border-radius: 20px;
      color: $dark-purple;
      font-weight: 300;
      margin-bottom: 3px;

      &:hover {
        color: $green;
      }
    }
  }
}

.share-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 440px;
  margin: 32px auto 0px auto;
  padding-bottom: 32px;
  border-bottom: 1px dashed $green;

  #drop {
    max-height: 30px;
  }

  button {
    border: none;
    margin: 0 12px;
  }

  .saved {
    font-family: $headers-font;
    font-weight: 600;
    font-size: 16px;
    background-color: $green;
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    transition: .5s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: default;
  }
}

.share-container:hover .dropdown-content {
  display: block !important;
}

.share {
  &:hover {
    color: $yellow;
    transition: .2s ease-in-out;
  }
}

.share-options:hover {
  color: $green;
}

.project-content {
  padding-top: 44px;
  // height: 90vh;
  width: 80vw;
  margin: 0 auto 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  .items {
    width: 700px;

    .lists{
      align-items: stretch;
      display: flex;
    }

    .list{
      width: 240px;
      display: inline-block;
      margin-right: 30px;

    }

    h4 {
      margin-left: 12px;
    }

    ul {
      list-style: none;
      margin: 0 !important;
      padding: 0 !important;

      li {
        width: 240px;
        border-top: 1px dashed $green;
        margin: 14px 5px 5px 10px;
        padding-top: 8px;
      }
    }
  }

  .separator {
    height: 200px;
    width: 1px;
    margin: 4px 20px 0 20px;
    border-radius: 2px;
  }

  .method {
    width: 440px;
    border-radius: 12px;
    margin-bottom: 40px;

    ol {
      margin: 0 !important;
      padding: 0 !important;
    }

    li {
      margin: 12px 5px 5px 10px;
      padding: 5px;
    }
  }
}

#saved-btn {
  position: relative;
  margin: 80px auto 0 auto;
  text-align: center;
  max-width: 320px;
  color: $green;

  .selected-btn {
    text-decoration: none;
    margin-top: 40px;

    &:hover {
      background-color: #fff;
      color: $purple;
      transition: .3s ease;
    }
  }
}

.separator {
  height: 80px;
  width: 1px;
}

.map {
  text-align: left;
  margin-left: 12px;
  margin-bottom: 15px;
  max-width: 800px;
}

.map-title {
  margin-bottom: 5px;
  text-align: left;
  margin-left: 0 !important;
  margin-top:25px;
}

.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
}


.image-url {
  width: 100px;
  height: 100px;
  display: flex;

.delete {
  text-decoration: none;

  &:hover {
    opacity: 100%;
  }
}



.progresses {
  width: 80vw;
  border-top: 2px dashed $green;
  padding-top: 32px;
}

.new-progress {
  position: relative;
  top: 10px;
  left: -10px;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: $headers-font;
  font-weight: 600;
  font-size: 16px;
}

.upload-progress {
  padding: 10px 20px;
  border-radius: 20px;
  font-family: $headers-font;
  font-weight: 600;
  font-size: 16px;

}
