#navbar {
  justify-content: space-between;
  background-color: $green;

  h4 {
    padding-top: 4px;
  }

  .header-bold {
    color: $yellow;
    font-size: 32px;
    flex-grow: 1
  }

  a {
    color: $yellow;
  }

  ul {
    list-style: none;
    text-decoration: none;
    display: inline-block;
  }
}
