#navbar {
  justify-content: space-between;
  background-color: $green;

  h4 {
    padding-top: 4px;
  }

  .header-bold {
    color: $yellow;
    font-size: 32px;
    flex-grow: 1
  }

  a {
    color: $yellow;
    text-decoration: none;
  }

  ul {
    list-style: none;
    display: flex;
    height: 100%;
  }

  li {
    flex-direction: row;
    margin-left: 16px;
    align-self: center;
    margin-top: 30px;
  }
}
