.location-form{
  position:relative;
}

.tree {
  position: absolute;
  bottom:0;
  right:10%;
  width:370px;
  height: 500px;
}


.loader {
  display: none;
  position: absolute;
  top: 20%;
  left: 50%;
  transform:translate(-50%, -50%);
  border: 1.5px solid rgba(128, 128, 128, 0.405);
  box-shadow: 1px 1px 2px rgba(180, 169, 169, 0.39);
  border-radius: 20px;
  height: 80vh;
  width: 75vw;
  z-index: 1000;
  background-color: $yellow;
  text-align: left;
  padding-left: 200px;
  padding-top: 250px;
}

.mypopup.show {
  display:block;
}

body.popup-open {
  background-color:#ffec80be;
  overflow: hidden;
}



.loader:before {
  content: "";
  position: absolute;
  bottom: 32%;
  right: 10%;
  width: 40px;
  height: 75px;
  background:
    radial-gradient(farthest-side,#fff 92%,#0000) 60% 6px/4px 4px,
    radial-gradient(50% 60%,#53707b 92%,#0000) center/70% 55%,
    radial-gradient(farthest-side,#53707b 92%,#0000) 50% 3px/14px 14px,
    radial-gradient(142% 100% at bottom right,#0000 64%,#53707b 65%) bottom/57% 40%,
    conic-gradient(from -120deg at right,#53707b 36deg,#0000 0)100% 3px/51% 12px,
    conic-gradient(from 120deg at top left,#0000 ,#ef524a 2deg 40deg,#0000 43deg) top/100% 10px;
  background-repeat: no-repeat;
  transform: rotate(-26deg);
  transform-origin: 100% 80%;
  animation: l16 .25s infinite linear alternate;
  z-index: 2000;
  margin-right: 145px;
}


@keyframes l16 {
  100% {transform: rotate(0)}
}
