.location-form {
  position: relative;
}

.flex-popup {
  height: 100vh;
  width: 80vw;
  margin: 120px auto 0 auto;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h3 {
    margin: 140px 0 0 2vw;
    font-size: 44px !important;
    width: 50%;
  }
}

.loader {
  display: block;
  position: absolute;
  top: -120px;
  left: 475px;
  transform: translateX(-50%);
  height: 100%;
  // width: 100%;
  z-index: 9;
}

.img-container {
  position: relative;
  margin-top: 0px;
  width: 50%;
  height: 100vh;
}

.tree {
  height: 100%;
  overflow: visible;
  filter: brightness(100%);
  object-fit: cover;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}

.loader:before {
  content: "";
  position: absolute;
  top: 30vh;
  right: -3vw;
  width: 50px;
  height: 85px;
  background:
    radial-gradient(farthest-side,#000 92%,#fff) 60% 6px/4px 4px,
    radial-gradient(50% 60%,#b7d9ff 92%,#0000) center/70% 55%,
    radial-gradient(farthest-side,#b7d9ff 92%,#0000) 50% 3px/14px 14px,
    radial-gradient(142% 100% at bottom right,#0000 64%,#b7d9ff 65%) bottom/57% 40%,
    conic-gradient(from -120deg at right,#b7d9ff 36deg,#0000 0)100% 3px/51% 12px,
    conic-gradient(from 120deg at top left,#0000 ,#ef524a 2deg 40deg,#0000 43deg) top/100% 10px;
  background-repeat: no-repeat;
  transform: rotate(-26deg);
  transform-origin: 100% 80%;
  animation: l16 .25s infinite ease alternate;
  z-index: 9;
  margin-right: 155px;
}


@keyframes l16 {
  100% {transform: rotate(0)}
}

@media only screen and (max-width: 768px) {
  .selected-title {
    margin: -24px auto 0 auto !important;
  }

  h3 {
    font-size: 32px !important;
    // text-align: center;
    // margin: 0 auto;
  }

  .sidebar {display: none;}

  .selected-form {
    display: hidden;
  }

  .flex-popup {flex-direction: column;}

  .tree {
    margin-top: 220px;
    height: 60vh;
  }
}
